[submodule "external/compas_fab_pychoreo"]
	path = external/compas_fab_pychoreo
	url = https://github.com/yijiangh/compas_fab_pychoreo.git
[submodule "external/pybullet_planning"]
	path = external/pybullet_planning
	url = https://github.com/yijiangh/pybullet_planning.git
[submodule "external/itj_design_study"]
	path = external/itj_design_study
	url = https://github.com/gramaziokohler/itj_design_study
[submodule "external/abb_irb4600_40_255"]
	path = external/abb_irb4600_40_255
	url = https://github.com/yijiangh/abb_irb4600_40_255.git
[submodule "external/rfl_description"]
	path = external/rfl_description
	url = https://github.com/yijiangh/rfl_description.git
