compas @ git+https://git@github.com/compas-dev/compas.git@c065d430021deed86fec09abee43ec7a87fa453a#egg=compas-0.16
compas_fab @ git+https://git@github.com/compas-dev/compas_fab.git@9cfa2164efb23475904154829550fa89a1834c39#egg=compas_fab-0.11.1
jsonpickle
trimesh
pycddlib
